// Simple Form ---------------------------------------------------------------
//
// Styles imported for use with the default simple_form markup, imported
// straight from the official wiki:
//
// https://github.com/plataformatec/simple_form/wiki/CSS-for-simple_form

.simple_form
  div.input
    margin-bottom: 10px

  label
    float: left
    width: 150px
    text-align: right
    margin: 5px 10px 2px

  .error
    clear:   left
    color:   black
    display: block
    margin-left: 170px
    font-size:    12px
    color: #bd1700
    background: image-url("backstage/field-error.png") 0 4px no-repeat
    padding: 0 0 0 13px
    margin-top: 2px

  .hint
    clear: left
    font-size: 11px
    color: $very-quiet-color
    display: block
    font-style: italic
    margin: -10px 0 5px 170px

  .required abbr
    color: maroon
    font-weight: bold
    line-height: 0

  div.boolean, .simple_form input[type='submit']
    margin-left: 170px

  div.boolean label, label.collection_radio
    float: none
    margin: 0

  label.collection_radio
    margin-right: 10px
    vertical-align: -2px
    margin-left:   2px

  input.radio
    margin-right: 5px
    vertical-align: -3px

  input.check_boxes
    margin-left: 3px
    vertical-align: -3px

  label.collection_check_boxes
    float: none
    margin: 0
    vertical-align: -2px
    margin-left:   2px

// Generic Input Styles ------------------------------------------------------
//
// Custom form styles which tweak the simple_form defaults where necessary.

input[type=text], input[type=password], input[type=email], textarea, 
  +transition-property("border-color, box-shadow")
  +transition-duration(".15s, .15s")
  +transition-timing-function("ease-in-out, ease-in-out")
  border: 1px solid $border-color
  border-top-color: darken($border-color, 8%)
  border-radius: 2px
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), inset 0 1px 0 rgba(0, 0, 0, 0.1)
  height: 1.3em
  font: 13px/1.3 "Helvetica Neue", Arial, Helvetica, sans-serif
  margin: 0
  padding: 5px 4px 3px
  position: relative
  width: 400px

  &:focus
    border-color: #467fe3
    box-shadow: 0 0 3px 1px #7db1f4, inset 0 1px 0 rgba(0, 0, 0, 0.1)
    outline: none
    z-index: 10

  &[disabled="disabled"]
    background: #eef2f6
    color: #555

  &.small
    width: 75px

textarea
  height: 9.6em

select
  font-size: 16px
  width: 410px

  &.small
    width: 85px

  &.medium
    width: 170px

.simple_form .slider
  input[type=text]
    +border-right-radius(0)

  .widget
    +border-right-radius(2px)
    background: rgba(white, 0.5)
    border: 1px solid $border-color
    border-top-color: darken($border-color, 8%)
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), inset 0 1px 0 rgba(0, 0, 0, 0.1)
    border-left: none
    display: inline-block
    margin-top: -6px
    min-height: 22px
    padding: 2px 5px 0px
    vertical-align: text-top
    width: 314px

    div
      height: 22px

.simple_form ul.buttons
  padding-left: 170px

.sidebar .search input
  font-size: 12px
  width: 214px

// Small, "inline" forms.

#content .inline-add
  margin-top: 25px

  form
    padding: 10px 0

    label
      display: block
      float: none
      font-weight: bold
      margin-left: 0
      text-align: left
      width: auto

    select
      width: 380px

      &.small
        width: 85px

    ul.buttons
      padding-left: 0

// Sign-in Errors
.session-error
  color: #9c3535
  font-weight: bold
  padding-left: 170px
  padding-bottom: 15px
