// The main navigation element at the top of each page.
//
//   +----------+----------+-----------+--------+--
//   |  Scenes  |  Inputs  |  Outputs  |  Etc.  | ->
//   +----------+----------+-----------+--------+--

#header .navigation
  @include horizontal-menu
  @include background(image-url("backstage/menu.png") repeat-x, linear-gradient($hm-top-color, $hm-bottom-color))
  box-shadow: none
  font-size: 14px
  padding-top: 5px

  li a, li span.pseudo
    @include background(linear-gradient($hm-top-color, $hm-bottom-color))
    box-shadow: none
    display: block
    padding-top: 15px
    padding-bottom: 14px

    .icon
      background-repeat: no-repeat
      background-position: 0 4px
      padding-left: 22px
      padding: 8px 0 7px 32px

  li.selected
    background: image-url("backstage/menu.png") right -75px no-repeat
    border-right: none
    margin-top: -5px
    padding-top: 5px

    a
      @include background(linear-gradient($hm-selected-top-color, $hm-selected-bottom-color))
      border-right: 1px solid $hm-item-border-color

      &:active
        margin-right: 0

  li.scenes .icon
    background-image: image-url("backstage/scene.png")

  li.inputs .icon
    background-image: image-url("backstage/input.png")

  li.queries .icon
    background-image: image-url("backstage/query.png")

  li.props .icon
    background-image: image-url("backstage/prop.png")

  li.sign-out .icon
    background-image: image-url("backstage/sign-out.png")
    background-position: 0 8px
    padding-left: 24px

  li.sign-out, li.loading
    border-right: none
    float: right

    a
      background: none
      color: #6b7686
      font-size: 12px

      &:active
        border-color: transparent
        box-shadow: none

  li.loading
    border-right: 1px solid lighten($hm-border-color, 7%)
    margin: 15px 0 14px

    span.pseudo
      background: none
      padding-top: 0
      padding-bottom: 0
      height: 18px

      .icon
        background: image-url("backstage/indicator.gif") 0 4px no-repeat
        display: none
        padding: 0 0 0 16px
        text-indent: -10000px
