// Constants -----------------------------------------------------------------

$link-color: #26477d
$link-active-color: #172a4a

$border-color: #a9b2bc
$lighter-border-color: #b8c0ca

$nav-z-index: 10

// Styles --------------------------------------------------------------------

body
  background: #cdd9e6
  color: #333

a
  color: $link-color

  &:active
    color: $link-active-color

#chrome
  height: 100%
  position: relative

// Header --------------------------------------------------------------------

#header
  #site-info
    @include background(linear-gradient(#5a78a0, #2b4067))
    border-bottom: 1px solid #091c3b
    color: white
    line-height: 1
    padding: 12px 25px 14px
    text-shadow: 0 1px 0 #18436d

    a
      color: #cdd9e6

      &:hover
        color: white
        text-decoration: none

    #logo
      font-size: 18px

      .quiet
        font-family: Georgia
        font-style: italic
        font-weight: normal
        font-size: 22px
        line-height: 18px
        text-shadow: 0 1px 1px #18436d

    #user_controls
      float: right
      font-size: 12px
      font-weight: bold
      text-shadow: 0 1px 1px #18436d

      li
        margin-left: 25px
        float: left

        a
          display: block
          padding: 4px 0

// Main Content --------------------------------------------------------------

#master
  bottom: 0px
  position: absolute
  overflow: hidden
  top: 86px
  width: 100%
  z-index: $nav-z-index - 1

  #content
    bottom: 0px
    left: 250px
    position: absolute
    top: 0px
    z-index: $nav-z-index - 1
