// Constants -----------------------------------------------------------------

$link-color: #26477d
$link-active-color: #172a4a

$border-color: #a9b2bc
$lighter-border-color: #b8c0ca

$nav-z-index: 10

// Styles --------------------------------------------------------------------

body
  background: #cdd9e6
  color: #333

a
  color: $link-color

  &:active
    color: $link-active-color

#chrome
  height: 100%
  position: relative

// Main Content --------------------------------------------------------------

#master
  bottom: 0px
  position: absolute
  overflow: hidden
  top: 53px
  width: 100%
  z-index: $nav-z-index - 1

  #content
    bottom: 0px
    left: 250px
    position: absolute
    top: 0px
    z-index: $nav-z-index - 1
