#scene-view.house #theme-header
  margin-left: -480px
  width: 1920px
  position: relative
  z-index: 1

  #logo
    background: image-url("logo.png") left top no-repeat
    height: 42px
    left: 480px
    position: absolute
    text-indent: -10000px
    top: 25px
    width: 350px
    z-index: 20

  .world
    height: 639px
    width: 1277px
    margin: 0 auto




    .grass
      @include house-prop-dyn(grass, 1802px, 639px, 90px, 0px)
      z-index: 4

      .icon.green
        background-position: 0px 0px
      .icon.pale
        background-position: 0px -639px
      .icon.dry
        background-position: 0px -1278px

    .house
      @include house-prop(house, 501px, 535px, 725px, 48px)
      z-index: 5

      .help
        position: relative
        left: 390px

      .animation
        display: block
        position: relative

        &.man
          background: image-url('scenes/house/animation/man.gif') no-repeat
          height: 105px
          left: 269px
          top: 319px
          width: 147px

        &.cat
          background: image-url('scenes/house/animation/cat.gif') no-repeat
          height: 42px
          left: 243px
          top: 278px
          width: 60px

        &.girl
          background: image-url('scenes/house/animation/girl.gif') no-repeat
          height: 79px
          left: 156px
          opacity: 0.5
          top: 48px
          width: 71px

    .solar-thermal_panels
      @include house-prop-dyn(solarthermal, 143px, 81px, 885px, 48px)
      z-index: 6

      .icon.none
        background-position: -286px 0
      .icon.low
        background-position: left 0
      .icon.high
        background-position: -143px 0

    .solar-panels
      @include house-prop-dyn(solarpv, 156px, 82px, 786px, 132px)
      z-index: 6

      .icon.none
        background-position: -312px 0
      .icon.low
        background-position: left 0
      .icon.high
        background-position: -156px 0

    .hot-water
      @include house-prop-dyn(hotwater, 117px, 124px, 1070px, 232px)
      z-index: 6

      .icon.none
        background-position: -234px 0
      .icon.low
        background-position: left 0
      .icon.high
        background-position: -117px 0

    .lighting
      @include house-prop-dyn(lighting, 260px, 219px, 874px, 223px)
      z-index: 6

      .icon.incandescent_lighting
        background-position: left 0
      .icon.fluorescent_lighting
        background-position: -260px 0
      .icon.led_lighting
        background-position: -520px 0

    .insulation
      @include house-prop-dyn(insulation, 520px, 513px, 725px, 70px)
      z-index: 7
      .icon.extremely_low
        background-position: left 0
      .icon.very_low
        background-position: left -513px
      .icon.low
        background-position: left -1026px
      .icon.medium
        background-position: left -1539px
      .icon.high
        background-position: left -2052px
      .icon.very_high
        background-position: left -2565px
      .icon.extremely_high
        background-position: left -3078px


    .aircon
      @include house-prop-dyn(aircon, 114px, 163px, 1049px, 221px)
      z-index: 6

      .icon.none
        background-position: -228px 0
      .icon.living_room
        background-position: 0 0
      .icon.whole_house
        background-position: -114px 0

    .space-heating
      @include house-prop-dyn(spaceheating, 281px, 137px, 964px, 401px)
      z-index: 6

      .icon.combi_boiler
        background-position: 0 0
      .icon.micro_chp
        background-position: 0 -137px
      .icon.heatpump_ground
        background-position: 0 -274px

    .appliances
      @include house-prop-dyn(appliances, 224px, 256px, 876px, 277px)
      z-index: 6

      .icon.none
        background-position: 0 0
      .icon.extremely_low
        background-position: 0 -256px
      .icon.very_low
        background-position: 0 -512px
      .icon.low
        background-position: 0 -768px
      .icon.medium
        background-position: 0 -1024px
      .icon.high
        background-position: 0 -1280px
      .icon.very_high
        background-position: 0 -1536px
      .icon.extremely_high
        background-position: 0 -1792px
      .icon.all
        background-position: 0 -2048px

    .radiator
      @include house-prop-dyn(radiator, 188px, 191px, 925px, 236px)
      z-index: 6

      .icon.low
        background-position: 0 0
      .icon.medium
        background-position: 0 -191px
      .icon.high
        background-position: 0 -382px
