#page-view.root
  background: #fff image-url("scenes/modern/bg.png") center top repeat-y
  background: image-url("scenes/modern/footer.jpg") center bottom no-repeat, #fff image-url("scenes/modern/bg.png") center top repeat-y
  background-color: #89bbda
  min-height: 100%
  overflow: hidden
  padding: 0

  #core
    @include container
    position: relative
    padding-top: 25px

    &:before
      content: ""
      left: -25%
      width: 150%
      z-index: 0
      position: absolute
      background: #e2f7ff
      background: image-url("scenes/modern/impression_wide.png") center top no-repeat
      background-image: -webkit-linear-gradient(left, rgb(239,250,255) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgb(226,247,255) 100%), url("scenes/modern/impression_wide.png")
      height: 265px
      margin-top: -30px

    #logo
      background: image-url("logo.png") left top no-repeat
      height: 42px
      position: absolute
      text-indent: -10000px
      width: 350px
      z-index: 20

    #main
      overflow: hidden
      padding-top: 60px
      z-index: 2
      margin-top: 130px

    .level
      text-align: center
      display: flex
      flex-direction: row
      justify-content: space-between
      margin-top: 90px

      .poster
        width: 30%
        z-index: 2
        img
          border: 2px solid #62bb46
          width: 100%

      &#house
        margin-top: 120px
        &:before
          width: 150%
          content: ""
          z-index: 0
          position: absolute
          left: -25%
          height: 425px
          margin: -75px 0 0 0
          background: image-url("scenes/house/impression_wide.png") center center no-repeat
          background-image: -webkit-linear-gradient(left, rgb(239,250,255) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgb(226,247,255) 100%), url("scenes/house/impression_wide.png")
          height: 520px

      &#quiz
        margin-bottom: 40px
        margin-top: 120px
        .poster
          width: 100%
          margin-right: 20px
          img
            border: none
            padding-top: 10px

  nav#language-select
    font-size: 11px
    font-weight: bold
    position: absolute
    right: 5px
    text-transform: uppercase
    top: 35px
    z-index: 11
    a
      color: #5975A9
      padding-left: 22px
      border-radius: 5px
    &:visited
      color: #5975A9
    a.nl
      background: image-url("nl.png") center left no-repeat
    a.en
      background: image-url("gb.png") center left no-repeat

  #scores
    width: 30%
    z-index: 2
    height: 341px
    padding: 5px 10px 20px 10px
    margin: 0
    // There is not enough room for the 'it's you' tag
    .you .name-stretch .name-tag
      display: none

  #house #scores
    order: -1
    background: image-url("scenes/house/controls-bg.png")
    background: rgba(255,255,255,0.7)
    border: 1px solid rgba(255,255,255,0.7)
    +border-radius(3px)
    +box-shadow(#999 0 0 10px)

  p
    font-size: 14px
    line-height: 22px

  section.go
    width: 30%
    z-index: 2
    text-align: center
    display: flex
    flex-direction: column
    justify-content: space-between

    h2
      margin-top: 0
      margin-bottom: 0.5em
      text-align: right
      font-size: 1.875em
      line-height: 1

    p
      text-align: right
      color: #777
      margin-top: 0
      font-size: 15px

    a.launch
      font-size: 15px
      padding: 12px 48px
      border: none
      box-shadow: none

      &.blue
        box-shadow: inset 0 1px 0 darken(#62bb46, 2%), rgba(black, 0.3) 0px 1px 2px
        text-shadow: none
        background: none
        background: #62bb46
        color: white
        border-radius: 2px
        &:hover
          background: lighten(#62bb46, 10%)
          box-shadow: inset 0 1px 0 #62bb46

      &:active
        box-shadow: 0 0 0 10px white

    .start-over, .conference-continue
      color: #777
      display: block
      font-size: 12px
      padding: 10px 0
      text-transform: uppercase
      text-align: right

      a
        font-weight: bold
        padding: 5px
        margin: -5px
        color: black
        &:hover
          color: #62bb46

    &.modern
      order: -1
      h2, p, .start-over
        text-align: left

    &.house
      padding: 15px 30px
      width: 247px
      height: 340px
      background: image-url("scenes/house/controls-bg.png")
      background: rgba(255,255,255,0.7)
      border: 1px solid rgba(255,255,255,0.7)
      +border-radius(3px)
      +box-shadow(#999 0 0 10px)
      p
        text-shadow: 0 1px 0 white

    &.quiz
      width: 100%
      height: 155px
      .buttons
        align-self: flex-end


  footer
    padding: 20px 10px
    float: right

    #partners
      float: right
      list-style-type: none

      li
        float: right
        margin-right: 10px

        &.by
          color: #aaa
          padding-top: 22px
          font-size: 11px

      .partner
        display: block
        text-indent: -10000px

        &.gasterra
          background: image-url("partners/gasterra.png") no-repeat
          height: 36px
          width: 80px
