h1
  line-height: 1.2em
  font-size: 48px
  font-weight: normal
  text-shadow: 1px 1px 10px #ccc
  color: #111
  text-align: center

  strong:
    font-weight: bold

  em
    display: block
    font-size: 15px
    line-height: 1.5em
    color: #777
    text-align: right
    text-shadow: none

  h2
    font-size: 16px

section.buttons
  border-bottom: 1px solid #ccc
  height: 0px
  margin: 50px 0
  text-align: center

  a.launch
    box-shadow: inset 0 1px 0 #56a2e4, rgba(black, 0.3) 0px 1px 3px, 0 0 0 10px white
    display: inline-block
    font-size: 14px
    margin: -21px 10px 10px
    padding: 12px 48px
    vertical-align: middle

    &:active
      box-shadow: 0 0 0 10px white
