#page-view.root
  background: #fff image-url("scenes/modern/bg.png") center top repeat-y
  background: image-url("scenes/modern/footer.jpg") center bottom no-repeat, #fff image-url("scenes/modern/bg.png") center top repeat-y
  min-height: 100%
  overflow: hidden
  padding: 0

  #core
    margin: auto
    position: relative
    width: 960px

    #main
      margin-top: -275px
      position: relative
      z-index: 2

  nav#language-select
    position: absolute
    z-index: 11
    top: 15px
    right: 5px
    a
      color: #5975A9
      padding-left: 22px
      border-radius: 5px
    &:visited
      color: #5975A9
    a.nl
      background: image-url("nl.png") center left no-repeat
    a.en
      background: image-url("gb.png") center left no-repeat

  h1
    line-height: 1.2em
    font-size: 48px
    font-weight: normal
    text-shadow: 1px 1px 10px #ccc
    color: #111
    text-align: center

    strong:
      font-weight: bold

    em
      display: block
      font-size: 15px
      line-height: 1.5em
      color: #777
      text-align: right
      text-shadow: none

    span.since
      font-size: 12px
      font-weight: normal

      a
        padding: 2px
        margin-left: 3px

        &.current
          font-weight: bold

  #scores
    margin-top: 70px

  p
    font-size: 14px
    line-height: 22px

  section.buttons
    border-bottom: 1px solid #ccc
    margin: 35px 0
    text-align: center

    a.launch
      box-shadow: inset 0 1px 0 #56a2e4, rgba(black, 0.3) 0px 1px 3px, 0 0 0 10px white
      display: inline-block
      font-size: 14px
      margin: 0 10px -22px
      padding: 12px 48px
      vertical-align: middle

      &:active
        box-shadow: 0 0 0 10px white

  footer
    padding: 20px 10px
    float: right

    #partners
      float: right
      list-style-type: none

      li
        float: right
        margin-right: 10px

        &.by
          color: #aaa
          padding-top: 22px
          font-size: 11px

      .partner
        display: block
        text-indent: -10000px

        &.gasterra
          background: image-url("partners/gasterra.png") no-repeat
          height: 36px
          width: 80px
