$etlite-bg-colour: #e0dfe3
$etlite-quiet-colour: #7c7f89

#scenario-view.etlite
  background: $etlite-bg-colour
  min-height: 100%

  #core #controls
    #left-inputs, #right-inputs
      @include border-radius(5px)
      border: 1px solid #ccc
      margin-top: 100px
      padding: 25px
      width: 248px

      h2
        font-size: 18px
        font-weight: normal
        line-height: 13px
        margin: -32px -5px 20px
        white-space: nowrap

        span
          background: $etlite-bg-colour
          padding: 0 5px

      .range
        margin-top: 5px

        .info
          @extend clearfix

        .label, .value
          float: left
          width: 175px

        .value
          font-size: 15px
          text-align: right
          width: 73px

        .control
          background: url(/assets/range-ticks.png) 11px 0 no-repeat
          height: 32px
          margin: 0 -11px
          // width needs to also be set in the JS view.
          width: 271px

          .handle
            background: url(/assets/range-handle.png) 0 3px no-repeat
            height: 32px
            // handleWidth needs to also be set in the JS view.
            width: 31px
            &:active, &:focus
              background-position: 0 -47px

    #right-inputs h2
      color: #900
      font-size: 22px

  // The supply and demand graph -------------------------------------------

  .energy-graph
    @extend .clearfix
    border-radius: 5px
    float: left
    margin: 100px 0 0
    min-height: 320px
    width: 318px

    .marker
      border-top: 1px dashed #bbb
      color: $etlite-quiet-colour
      font-size: 12px
      margin-top: 1px
      position: absolute
      top: 100%
      width: 79px

    .demand, .supply
      background: url(/assets/graph-ticks.png) top right repeat-y
      float: left
      height: 242px
      margin: 0 10px 0 0
      padding: 0 20px 0 0
      position: relative
      width: 122px

      .bar
        background: #3b3d46
        bottom: 0px
        position: absolute
        height: 0%
        width: 35px
        z-index: 4

    .demand .bar
      right: 25px

    .legend
      -webkit-transform: rotate(270deg)
      -moz-transform: rotate(270deg)
      left: 32px
      bottom: 75px
      color: white
      font-size: 16px
      position: absolute
      text-shadow: -1px 0 1px rgba(0, 0, 0, 0.2)
      font-family: 'Trebuchet MS', 'Lucida Grande', Arial, Helvetica
      width: 150px
      z-index: 5

    .supply
      background-position: top left
      margin: 0 0 0 10px
      padding: 0 0 0 20px

      .bar
        background: #a03e0c
        left: 25px

      .marker
        right: 0px
        text-align: right

      .legend
        left: -29px
