// Animation -----------------------------------------------------------------

@-moz-keyframes scenarioModernPlane
  from
    left: 1700px
    top: 30px
    -moz-transform: rotate(8deg)
  20%
    top: -10px
    -moz-transform: rotate(8deg)
  25%
    top: -16px
    -moz-transform: rotate(7deg)
  30%
    top: -22px
    -moz-transform: rotate(6deg)
  35%
    top: -27px
    -moz-transform: rotate(5deg)
  40%
    top: -30px
    -moz-transform: rotate(4deg)
  50%
    -moz-transform: rotate(0deg)
  60%
    top: -30px
    -moz-transform: rotate(-4deg)
  65%
    top: -27px
    -moz-transform: rotate(-5deg)
  70%
    top: -22px
    -moz-transform: rotate(-6deg)
  75%
    top: -16px
    -moz-transform: rotate(-7deg)
  80%
    top: -10px
    -moz-transform: rotate(-8deg)
  to
    left: -400px
    top: 50px
    -moz-transform: rotate(-10deg)

@-webkit-keyframes scenarioModernPlane
  from
    left: 1700px
    top: 30px
    -webkit-transform: rotate(8deg)
  20%
    top: -10px
    -webkit-transform: rotate(8deg)
  25%
    top: -16px
    -webkit-transform: rotate(7deg)
  30%
    top: -22px
    -webkit-transform: rotate(6deg)
  35%
    top: -27px
    -webkit-transform: rotate(5deg)
  40%
    top: -30px
    -webkit-transform: rotate(4deg)
  50%
    -webkit-transform: rotate(0deg)
  60%
    top: -30px
    -webkit-transform: rotate(-4deg)
  65%
    top: -27px
    -webkit-transform: rotate(-5deg)
  70%
    top: -22px
    -webkit-transform: rotate(-6deg)
  75%
    top: -16px
    -webkit-transform: rotate(-7deg)
  80%
    top: -10px
    -webkit-transform: rotate(-8deg)
  to
    left: -400px
    top: 50px
    -webkit-transform: rotate(-10deg)

// Styles --------------------------------------------------------------------

#scenario-view.modern
  background: #8abcdb url(/assets/scenarios/modern/bg.png) center top repeat-y
  overflow: hidden
  padding: 0

  #core #controls .range
    .control
      background: rgba(#000, 0.2)
      height: 30px

      .handle
        background: rgba(#000, 0.2)
        height: 30px
        width: 30px

        &:active
          background-position: -30px -35px

  // The big graphic header at the top of the modern theme...

  #theme-header
    background: url(/assets/scenarios/modern/header/clouds.png) center top no-repeat
    margin-left: -480px
    height: 550px
    position: relative
    width: 1920px

    #logo
      background: url(/assets/scenarios/modern/header/logo.png) left top no-repeat
      height: 34px
      left: 480px
      position: absolute
      text-indent: -10000px
      top: 20px
      width: 305px

    // The base layer in which all of the header elements are placed.

    .world
      height: 368px
      left: 321px
      position: absolute
      top: 110px
      width: 1277px

      // The main ground layer - contains the green "globe".

      .ground
        background: url(/assets/scenarios/modern/header/ground.png) center 87px no-repeat
        height: 368px
        position: relative
        width: 1277px

      // Wind turbines which appear on the left side of the header.

      .turbines
        background: url(/assets/scenarios/modern/header/wind-turbines.png) top left no-repeat
        height: 125px
        left: 130px
        position: absolute
        top: 27px
        width: 162px

      .city
        background: url(/assets/scenarios/modern/header/future-city.png) top left no-repeat
        height: 121px
        left: 280px
        position: absolute
        top: 5px
        width: 325px

      // Hills on the left of the ground; currently combines the hills with
      // the trees.

      .left-hills
        background: url(/assets/scenarios/modern/header/left-hills.png) top left no-repeat
        height: 172px
        left: 60px
        position: absolute
        top: 91px
        width: 412px

      // The sun overlay on the right of the header; needs to be displayed
      // above the other layers so that the glow / lens flare isn't occluded.

      .sun
        background: url(/assets/scenarios/modern/header/sun.png) top left no-repeat
        height: 367px
        left: 987px
        position: absolute
        top: -83px
        width: 397px

      // A little airliner which moves through the scene.

      .plane
        background: url(/assets/scenarios/modern/header/plane.png) top left no-repeat
        height: 22px
        left: 620px
        position: absolute
        top: -30px
        width: 45px

        -moz-animation:    scenarioModernPlane 45s infinite linear
        -webkit-animation: scenarioModernPlane 45s infinite linear
