#scenario-view.modern
  background: #8abcdb url(/assets/scenarios/modern/bg.png) center top repeat-y
  overflow: hidden
  padding: 0

  #core #controls .range
    .control
      background: rgba(#000, 0.2)
      height: 30px

      .handle
        background: rgba(#000, 0.2)
        height: 30px
        width: 30px

        &:active
          background-position: -30px -35px

  // The big graphic header at the top of the modern theme...

  #theme-header
    background: url(/assets/scenarios/modern/header/clouds.png) center top no-repeat
    margin-left: -480px
    height: 550px
    position: relative
    width: 1920px

    #logo
      background: url(/assets/scenarios/modern/header/logo.png) left top no-repeat
      height: 34px
      left: 480px
      position: absolute
      text-indent: -10000px
      top: 20px
      width: 305px

    // The base layer in which all of the header elements are placed.

    .world
      height: 368px
      left: 321px
      position: absolute
      top: 110px
      width: 1277px

      // The main ground layer - contains the green "globe".

      .ground
        background: url(/assets/scenarios/modern/header/ground.png) center 87px no-repeat
        height: 368px
        position: relative
        width: 1277px

      // Wind turbines which appear on the left side of the header.

      .turbines
        background: url(/assets/scenarios/modern/header/wind-turbines.png) top left no-repeat
        height: 125px
        left: 100px
        position: absolute
        top: 40px
        width: 162px

      .city
        background: url(/assets/scenarios/modern/header/future-city.png) top left no-repeat
        height: 140px
        left: 250px
        position: absolute
        top: 20px
        width: 325px
