.static-message
  #core
    #header
      %a#logo(href="/") Energy Transition Model

    #about
      %p
        Pour-over in trust fund, quinoa forage fanny pack keffiyeh chillwave
        helvetica jean shorts. Qui biodiesel master cleanse, gluten-free
        photo booth gastropub DIY odd future pinterest ethical aute cray.
        8-bit terry richardson banh mi elit adipisicing sint, fap voluptate
        tofu gentrify narwhal. Reprehenderit qui truffaut sriracha retro.

      %p
        Voluptate enim occaecat, excepteur carles lo-fi DIY hella sint vero
        scenester in biodiesel wayfarers. DIY master cleanse wes anderson
        direct trade scenester brunch. Salvia seitan authentic nihil blog,
        swag ullamco kogi +1. Vero consequat truffaut, elit leggings tumblr
        accusamus irony. Trust fund pitchfork synth, incididunt quis sed
        aliqua. Chillwave ennui kale chips cliche quis. Exercitation
        helvetica nihil, gluten-free cupidatat twee messenger bag sunt
        gentrify portland cray nisi assumenda terry richardson.

    #scenes
      - @scenes.each do |scene|
        .scene[ scene ]
          = link_to scene.name, scene
