%p
  Can you create a clean energy future and keep the lights
  from going out?
  Everybody claims to know what is best, but who is right?
  You are only a mouse click away from forming your 
  <strong>own</strong> opinion by building a new world.
  Get high score, share your vision with your friends
  via Facebook or Twitter and challenge them to do better
  then you do.

%p
  ETM-lite was created by Quintel Intelligence to give 
  everyone free access to the facts on energy. We are 
  an independent and neutral company. 