%p 
  Kun je een schone energietoekomst bouwen voor 2030 zonder dat het
  licht uitgaat als de zon niet schijnt en de wind niet waait? Kun je
  zorgen dat de aarde minder opwarmt door het terugdringen van de
  CO<sub>2</sub> uitstoot? En dat allemaal tegen de laagst mogelijke
  prijs? Kun jij de toekomst zo mooi bouwen dat je ook de hoogste score
  haalt? Zie real-time wat anderen aan score halen en deel je 
  toekomstvisie met je vrienden op Facebook, Twitter.

%p 
  Dit spel is gebaseerd op de echte energiedata van Nederland en is
  gemaakt door Quintel Intelligence in samenwerking met praktisch alle 
  partijen (bedrijven, overheid en onderwijs) die in Nederland met 
  energie bezig zijn. Als je uitgespeeld bent op het eerste
  niveau van het spel kun je door naar het echte werk en een
  energietoekomst bouwen met de professionele versie van het 
  Energietransitiemodel.
