%p
  Can you create a clean energy future for 2030 and keep the lights
  from going out when there is no wind or sunshine? Can you reduce 
  greenhouse gas emissions and keep global warming in check?
  Can you do all that at the lowest possible costs? Can you get 
  high-score by building the brightest future of all? Get live 
  updates of other people's scores and share your vision with others
  on Facebook or Twitter. 
  
%p
  This game is based on real energy data and was created by 
  Quintel Intelligence together with almost all parties (corporate, 
  government and education) involved in energy in the Netherlands.
  When you are done playing at this level, perhaps it is time to move
  on to the real thing and build an energy future using the Energy
  Transition Model.