%p
  Kun je een schone energietoekomst bouwen voor 2030 zonder dat het licht uitgaat als de zon niet schijnt en de wind niet waait? Kun je zorgen dat de aarde minder opwarmt door het terugdringen van de CO<sub>2</sub> uitstoot? En dat allemaal tegen de laagst mogelijke prijs? Kun jij de toekomst zo mooi bouwen dat je ook de hoogste score haalt? Zie real-time wat anderen aan score halen en daag je vrienden uit.

%p
  Dit uit twee afzonderlijke delen bestaande spel is gebaseerd op de echte energiedata van Nederland en is gemaakt door Quintel Intelligence in samenwerking met praktisch alle partijen (bedrijven, overheid en onderwijs) die in Nederland met energie en klimaat bezig zijn. Als je uitgespeeld bent op het eerste niveau van beide spelvarianten, kun je de verworven kennis testen door de Energiequiz te spelen. Vervolgens kun je door naar het echte werk en meebouwen aan een klimaatvriendelijke, betrouwbare en betaalbare energietoekomst met de professionele versie van het Energietransitiemodel.

%p
  Wil je meer weten over de energietransitie? Ga dan naar
  de <a href="https://www.morgenlandfilm.nl/index.php">website</a>
  van Morgenland en bekijk de film, het lesmateriaal
  en nog veel meer.
