%p
  Can you create a clean energy future for 2030 without losing your lighting, even when the sun is not shining, or the wind is not blowing? Can you slow down global warming by reducing CO<sub>2</sub> emissions? And all at the lowest possible price? Can you build a future so brilliant that you will reach the highest score? See what others score in real time and challenge your friends.

%p
  This two-part game is based on the real energy data of the Netherlands and was created by Quintel Intelligence in collaboration with most parties (companies, government and education) working on energy and climate in the Netherlands. If you are finished at the first level of both game versions, you can test your acquired knowledge by playing the Energy Quiz. Next, you can enter reality and help build a climate-friendly, reliable and affordable energy future with the professional version of the Energy Transition Model.
