%p
  Kun jij een schone energietoekomst bouwen zonder dat het
  licht uitgaat?
  Iedereen roept iets anders over energie, maar wie heeft gelijk? 
  Hier kun jij je <strong>eigen</strong> mening vormen door
  in een oogwenk een nieuwe wereld te bouwen. Haal de 
  high score, deel jouw toekomstvisie met je vrienden op 
  Facebook of Twitter en daag ze uit om een hogere score te
  halen! 
  
%p
  ETM-lite is gemaakt door Quintel om iedereen gratis inzicht 
  te geven in de feiten over energie. Wij zijn onafhankelijk 
  en neutraal.
