#notifications
  %p
    Open the Balancing Supply and Demand scene in another window, and watch as
    this window is notified that you have started the scenario, and each time you
    move a slider.

  %h4
    Notifications:
    %span.info (most recent, first)

  %ul#scenarios
    %li.none None yet&hellip;
