#core
  #theme-header
    %a#logo(href="/") Energy Transition Model light
    .world{"data-prop-location" => "header"}
      .plane
      .sun
      .icon-prop.car
        %span.icon{:style => "display: none; "}
        %span.icon.suv.active
        %span.help{:style => "opacity: 0; "}
      .icon-prop.city
        %span.icon{:style => "display: none; "}
        %span.icon.large.active
      .icon-prop.eco-buildings
        %span.icon{:style => "display: none; "}
        %span.icon.coal-dry.active
      .icon-prop.energy-sources
        %span.icon{:style => "display: none; "}
        %span.icon.solar.active
      .icon-prop.geothermal-pipeline
        %span.icon{:style => "display: none; "}
        %span.icon.pipeline.active
      .icon-prop.ground
        %span.icon{:style => "display: none; "}
        %span.icon.dry.active
      .icon-prop.solar-heater
        %span.icon{:style => "display: none; "}
        %span.icon.none.active
      .icon-prop.turbines
        %span.icon{:style => "display: none; "}
        %span.icon.coal.active      

  %section#main
  
    %h1 How does your <strong>Energy Future</strong> look like?
    
    %p
      Pour-over in trust fund, quinoa forage fanny pack keffiyeh chillwave
      helvetica jean shorts. Qui biodiesel master cleanse, gluten-free
      photo booth gastropub DIY odd future pinterest ethical aute cray.
      8-bit terry richardson banh mi elit adipisicing sint, fap voluptate
      tofu gentrify narwhal. Reprehenderit qui truffaut sriracha retro.

    %p
      Voluptate enim occaecat, excepteur carles lo-fi DIY hella sint vero
      scenester in biodiesel wayfarers. DIY master cleanse wes anderson
      direct trade scenester brunch. Salvia seitan authentic nihil blog,
      swag ullamco kogi +1. Vero consequat truffaut, elit leggings tumblr
      accusamus irony. Trust fund pitchfork synth, incididunt quis sed
      aliqua. Chillwave ennui kale chips cliche quis. Exercitation
      helvetica nihil, gluten-free cupidatat twee messenger bag sunt
      gentrify portland cray nisi assumenda terry richardson.

