%table#inputs.records
  %thead
    %tr
      %th Key
      %th Name
      %th Unit
      %th &nbsp;

  %tbody
    - @inputs.each do |input|
      %tr
        %td.link= link_to input.key, backstage_input_path(input)
        %td= input_name_for_list input
        %td= input.unit
        %td
          [actions]
