%table#inputs.records
  %thead
    %tr
      %th.key    Key
      %th        Name
      %th.unit   Unit
      %th.action &nbsp;

  %tbody
    - @inputs.each do |input|
      %tr
        %td.link.key=    link_to input.key, edit_backstage_input_path(input)
        %td=             input_name_for_list input
        %td.unit=        input.unit
        %td.link.action= link_to 'Edit', edit_backstage_input_path(input)
