// Helpers & Mixins ----------------------------------------------------------

@mixin modern-prop($image, $width, $height, $left, $top)
  background: image-url("modules/modern/header/#{$image}.png") top left no-repeat
  height: $height
  left: $left
  position: absolute
  top: $top
  width: $width

// Animation -----------------------------------------------------------------

@-moz-keyframes moduleModernPlane
  from
    left: 1700px
    top: 30px
    -moz-transform: rotate(8deg)
  20%
    top: -10px
    -moz-transform: rotate(8deg)
  25%
    top: -16px
    -moz-transform: rotate(7deg)
  30%
    top: -22px
    -moz-transform: rotate(6deg)
  35%
    top: -27px
    -moz-transform: rotate(5deg)
  40%
    top: -30px
    -moz-transform: rotate(4deg)
  50%
    -moz-transform: rotate(0deg)
  60%
    top: -30px
    -moz-transform: rotate(-4deg)
  65%
    top: -27px
    -moz-transform: rotate(-5deg)
  70%
    top: -22px
    -moz-transform: rotate(-6deg)
  75%
    top: -16px
    -moz-transform: rotate(-7deg)
  80%
    top: -10px
    -moz-transform: rotate(-8deg)
  to
    left: -400px
    top: 50px
    -moz-transform: rotate(-10deg)

@-webkit-keyframes moduleModernPlane
  from
    left: 1700px
  to
    left: -400px

// Styles --------------------------------------------------------------------

#module-view.modern
  background: #8abcdb image-url("modules/modern/bg.png") center top repeat-y
  background: image-url("modules/modern/footer.jpg") center bottom no-repeat, #8abcdb image-url("modules/modern/bg.png") center top repeat-y
  min-height: 100%
  overflow: hidden
  padding: 0

  // The main, site-wide navigation.

  #core #main-nav
    a
      background: image-url("modules/modern/nav.png") 32px -60px no-repeat
      color: #548aaa
      text-shadow: 0 1px 0 #f5fdff

      span
        background: image-url("modules/modern/nav.png") 32px 20px no-repeat

      &:active
        background-position: 32px -120px
        color: #386a8d

        span
          background-position: -68px 20px

    #nav-settings a
      background-position: -68px -60px

      &:active
        background-position: -68px -120px

    #nav-user a
      background-position: -168px -60px

      &:active
        background-position: -168px -120px

  // The content area containing the sliders.

  #core #controls
    margin-top: -250px
    position: relative
    z-index: 2

    h2
      color: #ff8400
      font-size: 17px
      font-weight: bold
      margin: 0 -10px
      padding: 10px 10px 20px
      text-align: center
      text-transform: uppercase
      text-shadow: white 0 0 18px, white 0 0 12px, white 0 0 6px, white 0 0 3px

    // Ranges / sliders

    .range
      .info
        @extend .clearfix

        .label
          float: left
          padding-left: 8px
          width: 190px

        .value
          float: left
          padding-right: 0px
          text-align: right
          width: 100px

      .control
        background: image-url("modules/modern/range.png") left top no-repeat

        &, .bar, .movable-range, .left, .main, .right
          height: 30px

        .active-bar
          background: image-url("modules/modern/range.png") 0 -30px no-repeat

        .handle
          background: image-url("modules/modern/range.png") 0 -60px no-repeat
          height: 28px
          width: 28px

          &.active
            background-position: -30px -60px

  // The big graphic header at the top of the modern theme...

  #theme-header
    background: image-url("modules/modern/header/clouds.png") center top no-repeat
    margin-left: -480px
    height: 550px
    position: relative
    width: 1920px
    z-index: 1

    #logo
      background: image-url("modules/modern/header/logo.png") left top no-repeat
      height: 34px
      left: 480px
      position: absolute
      text-indent: -10000px
      top: 20px
      width: 305px

    // The base layer in which all of the header elements are placed.

    .world
      height: 318px
      left: 321px
      position: absolute
      top: 110px
      width: 1277px

      // The main ground layer - contains the green "globe".

      .ground
        background: image-url("modules/modern/header/ground.png") center 87px no-repeat
        height: 318px
        position: relative
        width: 1277px

      // Wind turbines which appear on the left side of the header.

      .turbines
        @include modern-prop(wind-turbines, 162px, 125px, 130px, 27px)

      // The "futuristic city" in the distant background.

      .city
        @include modern-prop(future-city, 325px, 121px, 280px, 5px)

      // Hills on the left of the ground; currently combines the hills with
      // the trees.

      .left-hills
        @include modern-prop(left-hills, 412px, 172px, 60px, 91px)

      // "Eco" buildings, with big glass fronts.

      .eco-buildings
        @include modern-prop(eco-buildings, 643px, 162px, 435px, 18px)

      // Solar panels; appear to the right of the eco-buildings.

      .solar-panels
        @include modern-prop(solar-panels, 643px, 162px, 944px, 98px)

      // The electric car.

      .electric-car
        @include modern-prop(electric-car, 345px, 143px, 690px, 40px)

      // The sun overlay on the right of the header; needs to be displayed
      // above the other layers so that the glow / lens flare isn't occluded.

      .sun
        @include modern-prop(sun, 397px, 367px, 987px, -83px)

      // A little airliner which moves through the scene.

      .plane
        @include modern-prop(plane, 45px, 22px, 620px, -30px)

        -moz-animation:    moduleModernPlane 60s infinite linear
        -webkit-animation: moduleModernPlane 60s infinite linear

  // The supply / demand gauge.

  #core #center-vis .energy-graph

    .bars
      @extend .clearfix
      background: image-url("modules/modern/energy-graph.png") 78px 0 no-repeat

    .marker
      border-top: 1px dashed #ccc
      color: #235cbb
      font-size: 11px
      font-weight: bold
      margin-top: 1px
      position: absolute
      top: 100%
      width: 69px

    .demand, .supply
      float: left
      height: 204px
      margin: 0 0 20px 0
      padding: 0
      position: relative
      width: 150px

      .bar
        +border-bottom-left-radius(9px)
        +border-bottom-right-radius(9px)
        bottom: 0px
        background: image-url("modules/modern/energy-graph.png") -120px -250px no-repeat, image-url("modules/modern/energy-graph.png") bottom left no-repeat
        box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2)
        left: 94px
        position: absolute
        height: 0%
        width: 44px
        z-index: 4

    .legend
      -webkit-transform: rotate(270deg)
      -moz-transform: rotate(270deg)
      left: 41px
      bottom: 85px
      color: white
      font-size: 14px
      font-weight: bold
      position: absolute
      text-shadow: -1px 0 1px rgba(0, 0, 0, 0.4)
      text-transform: uppercase
      width: 150px
      z-index: 5

    .supply
      margin: 0 0 20px 0
      padding: 0

      .bar
        background-position: -120px -250px, -60px bottom
        box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1)
        left: 13px

      .marker
        color: #ec650b
        right: 0px
        text-align: right

      .legend
        left: -39px

    .gauge
      background: image-url("modules/modern/gauge.png") no-repeat
      height: 110px
      margin: 0 auto
      overflow: hidden
      position: relative
      width: 130px

      .needle
        background: image-url("modules/modern/gauge.png") -180px 0 no-repeat
        height: 98px
        left: 10px
        position: absolute
        top: 17px
        width: 110px

        // Enables smooth animation of the needle when it changes.
        -moz-transition:    -moz-transform    0.5s
        -webkit-transition: -webkit-transform 0.5s

      .info
        color: #333
        font-size: 14px
        padding-top: 90px
        text-align: center

  // The three visualisations which sit at the bottom of the page.

  #core #main-vis .visualisation
    &.co2-emissions .icon
      background-image: image-url("modules/modern/icons/polar-bear.png")
      left: 60px
      width: 200px

      &.medium
        background-position: -200px 0

      &.high
        background-position: -400px 0

      &.extreme
        background-position: -600px 0

    &.renewables .icon
      background-image: image-url("modules/modern/icons/tree.png")
      left: 76px
      width: 167px

      &.medium
        background-position: -170px 0

      &.low
        background-position: -340px 0

    &.costs .icon
      background-image: image-url("modules/modern/icons/money.png")
      left: 71px
      width: 138px

      &.two
        background-position: -138px 0

      &.three
        background-position: -276px 0

      &.four
        background-position: 0 -140px

      &.five
        background-position: -138px -140px

      &.six
        background-position: -276px -140px

      &.seven
        background-position: 0 -280px

      &.eight
        background-position: -138px -280px

      &.nine
        background-position: -276px -280px
