%ul.navigation
  = backstage_navigation_item :scenes,  '#', %w( scenes )
  = backstage_navigation_item :inputs,  '#', %w( inputs )
  = backstage_navigation_item :queries, '#', %w( queries )
  = backstage_navigation_item :props,   '#', %w( props )
