// General, common styles which don't belong anywhere else.

.clearfix
  // Please don't use class="clearfix", use @extend .clearfix in Sass
  // files instead.
  +clearfix

// Some visualisations take up more space than the page contents.
html, body
  height: 100%

body
  background: white
  font: 13px/18px "Helvetica Neue",verdana,arial,sans-serif, Arial

a
  color: #5975a9
  text-decoration: none
  &:hover
    color: #304272
    text-decoration: underline
