// General, common styles which don't belong anywhere else.

.clearfix
  // Please don't use class="clearfix", use @extend .clearfix in Sass
  // files instead.
  +clearfix

// Some visualisations take up more space than the page contents.
html, body
  height: 100%

body
  background: white
  font: 13px/18px "Helvetica Neue", Arial, Helvetica, sans-serif

  // Add hardware acceleration for iOS 5 devices
  -webkit-transform: translate3d(0, 0, 0)
  -webkit-transform-style: preserve-3d

  // Add hardware acceleration for iOS 6 devices
  -webkit-transform: translateZ(0)
  -webkit-perspective: 1000
  -webkit-backface-visibility: hidden

a
  color: #5975a9
  text-decoration: none
  &:hover
    color: #304272
    text-decoration: underline

aside#browser_warning
  text-align: center
  background-color: #db5215
  color: white
  padding: 15px 0

  h2
    font-size: 14px
    margin: 0
    text-shadow: 0 1px 0 rgba(black, 0.2)

  a
    color: white
    font-size: 13px
    font-weight: normal
    padding-left: 15px
    text-decoration: none

    &:hover
      text-decoration: underline
