.error-view
  background: #eafafd url(/assets/oops.png) bottom left no-repeat
  border-top: 1px solid #eafafd
  color: #5d5f5f
  height: 100%
  text-align: left
  width: 100%

  .message
    background: rgba(#eafafd, 0.7)
    margin: 100px 0 0 100px
    padding: 50px 50px 30px
    width: 350px

  h1
    font: bold 48px "Helvetica Neue", Arial, Helvetica, sans-serif
    padding: 0 0 20px 0

  p
    font-size: 18px
    font: 200 18px "Helvetica Neue", Arial, Helvetica, sans-serif
    line-height: 26px
    padding: 0 0 20px 0

  a
    font-weight: bold
