.error-view
  background: url(/assets/oops.jpg) center top no-repeat
  color: #3f4045
  height: 326px
  margin: 150px 165px 0
  padding: 160px 170px 0
  text-align: center
  width: 290px

  h1
    font: bold 28px "Helvetica Neue", Arial, Helvetica, sans-serif
    padding-bottom: 10px

  p
    font-size: 14px
    line-height: 20px
