$score-metric-width: 110px
// Lists of the highest scoring scenarios.

#scores.full
  background: image-url('tile.gif')
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2)

  border: 1px solid #eee
  padding-bottom: 20px
  margin-bottom: 25px
  border-radius: 5px

  .high-scoring-scenarios.full
    h2
      margin: 0 0 15px 0
      padding: 16px 20px
      border-top-left-radius: 5px
      border-top-right-radius: 5px
      font-size: 16px
      .since
        margin-left: 20px
        font-size: 12px

        a
          font-weight: normal
          margin-right: 10px
          border-bottom: 1px solid #d5d5d5
          border-radius: 10px
          padding: 5px 10px 3px
          box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1)

          &.current
            color: inherit
            text-decoration: none

    .legend
      overflow: hidden

      .score, .metric
        color: #777
        display: block
        font-size: 11px
        float: left
        text-align: center

        // Width, plus padding.
        width: $score-metric-width + 20px

      .score
        margin-left: 75px
        width: 60px

      .emissions
        margin-left: 270px

    ol
      list-style: none
      padding:
        left: 10px
        right: 10px
      margin:
        top: 5px

      li
        margin-bottom: 8px
        overflow: hidden

      .score, .user, .metric, .actions
        border-top: 1px solid #ddd
        border-bottom: 1px solid #ddd

      .position, .score, .user, .metric, .actions
        display: block
        float: left
        line-height: 1
        padding: 10px

      .position
        font-size: 18px
        padding: 20px 10px 18px 10px
        width: 35px
        margin-right: 10px
        background: image-url("grey_star.png") center center no-repeat
        text-align: center

      li:first-child
        .position
          background: image-url("star.png") center center no-repeat

      .score
        background: #ddd
        border-left: 1px solid #ccc
        border-top-left-radius: 4px
        border-bottom-left-radius: 4px
        padding-top: 16px
        padding-bottom: 15px
        font-size: 24px

      .user
        overflow: hidden
        text-overflow: ellipsis
        width: 250px

        img
          border-radius: 3px
          float: left
          margin-right: 7px
          vertical-align: top

        .name, .you, time
          display: block
          float: left
          width: 150px

        .name, .you
          font-size: 15px
          padding-bottom: 3px
          padding-top: 3px

        .you
          color: #469b45
          font-weight: bold

        time
          font-size: 11px
          color: #777

      .metric, .actions
        text-align: center
        width: $score-metric-width

      .metric
        padding-top: 13px
        padding-bottom: 11px

        .graph
          background: image-url("scenes/modern/bars.png") repeat-x
          display: block
          margin: 0 5px 2px
          width: 100px

          .bar
            background: image-url("scenes/modern/bars.png") 0 -20px repeat-x
            display: block
            height: 16px

        &.renewables .graph
          background-position: 0 -40px

          .bar
            background-position: 0 -60px

        &.costs .graph
          background-position: 0 -80px

          .bar
            background-position: 0 -100px

        .value
          font-size: 11px
          color: #777

      .actions
        border-right: 1px solid #ddd
        border-top-right-radius: 4px
        border-bottom-right-radius: 4px
        font-size: 12px
        font-weight: bold
        padding-top: 0
        padding-bottom: 0
        text-transform: uppercase

        a
          display: block
          padding: 21px 0 22px

#scores.compact
  background: white
  border: 1px solid #ccc
  border-bottom: none
  border-radius: 4px 4px 0 0
  // position: fixed
  // bottom: 0px
  // margin-left: 305px
  width: 350px
  z-index: 50

  .position, .legend, .metric, .actions
    display: none

  .since
    background: #eee
    +background(linear-gradient(#f6f6f6, #e6e6e6))
    border-bottom: 1px solid #bbb
    border-left: 1px solid #bbb
    border-right: 1px solid #bbb
    display: block
    float: left
    font-size: 12px
    margin: 11px -1px 0
    padding: 6px 0 4px
    text-shadow: 0 1px 0 white
    width: 350px

    a
      margin-right: 8px

      &:last-child
        margin-right: 0

      &.current
        color: #444
        -webkit-font-smoothing: auto

        &:hover
          cursor: default
          text-decoration: none

  h2
    background: #86c07c
    +background(linear-gradient(#a1d997, #6aa560))
    box-shadow: inset 0 1px 0 #b5e1ae
    border: 1px solid #528749
    border-top-color: #66a25d
    border-bottom-color: #3d6b36
    border-radius: 4px 4px 0 0
    color: white
    font-size: 15px
    margin: -1px -1px 0
    padding: 10px 0
    text-align: center
    text-shadow: 0 -1px 0 #66a25d
    -webkit-font-smoothing: antialiased

  ol
    list-style: none
    margin: 0
    padding: 0

    li
      border-bottom: 1px solid #ddd
      clear: both
      overflow: hidden

      &:hover
        background: #fff7d5
        cursor: pointer

      &:last-child
        border-bottom: none

  .score, .user
    display: block
    float: left
    padding: 10px

  .score
    float: right
    font-size: 16px
    font-weight: bold
    text-align: center
    padding-top: 14px
    width: 44px

    &:after
      display: block
      color: #777
      content: "points"
      font-size: 11px
      font-weight: normal

  .user
    overflow: hidden
    text-overflow: ellipsis
    padding-left: 15px
    width: 250px

    img
      border-radius: 3px
      float: left
      margin-top: 3px
      margin-right: 7px

    .name, .you, time
      display: block
      float: left
      width: 150px

    .name, .you
      font-size: 14px
      padding-bottom: 1px
      padding-top: 4px

    .you
      color: #469b45
      font-weight: bold

    time
      font-size: 11px
      color: #777

// High Scores Overlay Popup Thing (TM) --------------------------------------

.high-scores-overlay
  .high-scores
    background: #fafafa image-url('high-score-item.png') top right repeat-y
    border-right: 1px solid #ccc
    float: left
    min-height: 534px
    width: 299px

    h2
      border-top-right-radius: 0
      border-right: 1px solid #4d8543
      margin-right: -1px

    .since
      border-left: none
      border-right: none
      display: block
      float: left
      margin: 11px -1px 0
      width: 300px

    .nav
      border-right: 1px solid #bbb
      margin-right: -1px

    .position, .legend, .metric, .actions
      display: none

    ol
      list-style: none
      margin: 0
      padding: 0

      li
        background: #fafafa image-url('high-score-item.png') top right repeat-y
        border-bottom: 1px solid #ddd
        clear: both
        overflow: hidden

        &:hover
          background-color: #fff7d5
          cursor: pointer

        &:nth-child(8)
          border-bottom: none

        &.active
          background: white
          margin-right: -1px
          padding-right: 1px

    .score, .user
      display: block
      float: left
      padding: 10px

    .score
      float: right
      font-size: 16px
      font-weight: bold
      text-align: center
      padding-top: 14px
      width: 44px

      &:after
        display: block
        color: #777
        content: "points"
        font-size: 11px
        font-weight: normal

    .user
      overflow: hidden
      text-overflow: ellipsis
      padding-left: 15px
      width: 200px

      img
        border-radius: 3px
        float: left
        margin-top: 3px
        margin-right: 7px

      .name, .you, time
        display: block
        float: left
        width: 150px

      .name, .you
        font-size: 14px
        padding-bottom: 1px
        padding-top: 4px

      .you
        color: #407d35
        font-weight: bold

      time
        font-size: 11px
        color: #777

  .info
    float: left
    padding: 15px
    width: 420px

    h2
      border-top-left-radius: 0
      box-shadow: inset 0 1px 0 #b5e1ae, inset 1px 0 rgba(255, 255, 255, 0.2)
      margin: -15px -15px 15px

    .nav
      width: 450px
      margin: -15px -15px 15px

    p.doing-comparisson
      line-height: 1.6
      margin: 25px 50px 15px
      text-align: center

    .legend
      margin: 30px 0 20px
      padding-left: 145px
      overflow: hidden

      span
        color: #777
        display: block
        float: left
        font-size: 12px
        margin-right: 25px
        text-align: center
        width: 100px

    dl.scenario-stats
      overflow: hidden

      dt, dd
        float: left
        margin: 0 25px 20px 0
        width: 100px

      dt
        font-weight: bold
        text-align: right
        width: 120px

        &.score
          padding-top: 2px

      .graph
        background: image-url("scenes/modern/bars.png") repeat-x
        display: block
        margin: 0 5px 8px
        width: 100px

        .bar
          background: image-url("scenes/modern/bars.png") 0 -20px repeat-x
          display: block
          height: 16px

      .costs
        .graph
          background-position: 0 -80px

        .bar
          background-position: 0 -100px

      .renewables
        .graph
          background-position: 0 -40px

        .bar
          background-position: 0 -60px

      .value
        color: #777
        display: block
        font-size: 12px
        text-align: center

      .score .value
        color: black
        font-size: 16px
        font-weight: bold
        margin-bottom: 7px

      .best .value
        color: #407d35
