// Temporary styles used when testing receipt of Pusher messages.
#notifications
  padding: 34px 50px
  width: 550px

  h4 .info
    color: #777
    font-weight: normal

  ul#scenarios
    font: 14px monospace
    list-style: none
    padding-left: 25px

    li
      white-space: nowrap

    strong
      font-weight: normal

    .data
      color: #777
