// Overlay messages are pop-ups which display helpful information to the
// user. These messages "pop out" from the background using CSS3 animations
// when possible.

// Keyframes -----------------------------------------------------------------

// We can remove much of this repetition once Sass#167 is closed:
// https://github.com/nex3/sass/pull/167

@-webkit-keyframes overlayMessageIn
  0%
    opacity: 0.0
    -webkit-transform: scale(0.4)
  65%
    opacity: 1.0
    -webkit-transform: scale(1.2)
  100%
    opacity: 1.0
    -webkit-transform: scale(1.0)

@-webkit-keyframes overlayMessageOut
  0%
    opacity: 1.0
    -webkit-transform: scale(1.0)
  100%
    opacity: 0.0
    -webkit-transform: scale(0.9)

@-moz-keyframes overlayMessageIn
  0%
    opacity: 0.0
    -moz-transform: scale(0.4)
  65%
    opacity: 1.0
    -moz-transform: scale(1.2)
  100%
    opacity: 1.0
    -moz-transform: scale(1.0)

@-moz-keyframes overlayMessageOut
  0%
    opacity: 1.0
    -moz-transform: scale(1.0)
  100%
    opacity: 0.0
    -moz-transform: scale(0.9)

// CSS Classes ---------------------------------------------------------------

.overlay-wrap

  position: fixed
  height: 100%
  width: 100%
  z-index: 99

.overlay-message

  // Visual styles.

  +border-radius(5px)
  +box-shadow(0 1px 3px rgba(0, 0, 0, 0.3))

  background: white
  border: 1px solid #bbb
  border-top-color: #ccc
  border-bottom-color: #aaa

  color: #444
  cursor: pointer
  margin: 125px auto 0
  padding: 20px
  width: 285px
  z-index: 100

  // Animation
  //
  // If you alter the animation duration, you also need to reduce the
  // setTimeout delay in OverlayMessage#hide.

  -moz-animation:    overlayMessageIn 0.3s ease-in-out 0s 1 normal forwards
  -webkit-animation: overlayMessageIn 0.3s ease-in-out 0s 1 normal forwards

  // Fireefox is ignoring this in the short-hand version above.
  -moz-animation-fill-mode: fowards

  // Enables hardware acceleration.

  -moz-transform:    translate3d(0, 0, 0)
  -webkit-transform: translate3d(0, 0, 0)

  &.out
    -moz-animation-name:    overlayMessageOut !important
    -webkit-animation-name: overlayMessageOut !important

  h3
    font-size: 15px
    font-weight: bold
    margin-bottom: 10px

  sup
    font-size: 10px
    line-height: 0
    vertical-align: super
