// Styles for scnes pages; pages with inputs and props which allow users to
// see the outcomes of their choices.
//
// This file should contain only generic styles -- positioning, layout, etc,
// while style specific to different scenes should be placed in a file
// dedicated to the scenes in ./scenes

#scene-view
  #core
    margin: auto
    position: relative
    width: 960px

    // The main, site-wide navigation menu.

    #main-nav
      line-height: 1
      position: absolute
      right: 0
      top: 20px
      width: 240px
      z-index: 2

      li
        float: left
        font-size: 11px
        font-weight: bold
        text-shadow: 0 1px 0 #effbff

      a
        display: block
        padding-top: 23px
        width: 80px

        &:hover
          text-decoration: none

        span
          display: block
          padding-bottom: 15px
          text-align: center

    #controls
      @extend .clearfix

      // The three "main" boxes on the scene page:
      //
      //   +-Title----+   +----------+   +-Title----+
      //   | *------- |   |          |   | -----*-- |
      //   | ---*---- |   |  ==      |   | -*------ |
      //   | -*------ |   |  ==      |   | ----*--- |
      //   | -----*-- |   |  ==  ==  |   | --*----- |
      //   | --*----- |   |  ==  ==  |   | -------* |
      //   +----------+   +----------+   +----------+
      //
      #left-inputs, #center-props, #right-inputs
        float: left
        margin: 0 30px 0 0
        min-height: 2px
        width: 300px

      #right-inputs
        margin-right: 0

      // Ranges (aka Sliders)

      .range

        .label .help
          background: image-url("range-help.png") no-repeat
          cursor: pointer
          display: inline-block
          height: 18px
          margin-top: -4px
          vertical-align: middle
          width: 18px

          &:active
            background-position: 0 -20px

        .control
          // The area which wraps the actual Quinn element. Set a background
          // and height as appropriate in theme stylesheets.

          // Disables the default Quinn sprite. Be sure to set background
          // properties in individual themes...

          &.quinn
            .left, .main, .right, .handle
              background: none

    // The three props which sit at the bottom of each page, beneath
    // the slider groups.
    .dashboard
      @extend .clearfix

      .prop
        float: left
        padding: 37px 0 25px 0
        text-align: center
        width: 320px

        .icon-prop
          height: 140px
          position: relative

          .icon
            background-color: white
            background-repeat: no-repeat
            display: block
            height: 140px
            left: 0px
            position: absolute
            top: 0px
            width: 100%
            z-index: 1

            &.active
              z-index: 2

        .value
          font-size: 12px
          padding: 5px 7px

          .output
            font-weight: bold

          sup
            font-size: 9px
            vertical-align: text-top

    // The footer; contains social media links and sponsor logos.

    #footer
      @extend .clearfix
      padding: 30px 0 45px

      ul#social-media
        @extend .clearfix
        display: block
        float: left
        width: 500px

        li
          float: left

        a
          background: image-url("social-media.png") no-repeat
          display: block
          height: 24px
          margin-right: 10px
          text-indent: -10000px
          width: 24px

        .twitter a
          background-position: 0 0

        .facebook a
          background-position: 0 -50px

        .etmodel a
          background-position: 0 -100px

      #sponsors
        float: left
        width: 460px

        li
          float: right
          margin-right: 10px

          &.by
            color: #aaa
            padding-top: 22px
            font-size: 11px

        .qi-sponsor
          display: block
          text-indent: -10000px

          &.gas-terra
            background: image-url("sponsors/gas-terra.png") no-repeat
            height: 36px
            width: 80px
