body.message
  background: #eafafd image-url("static-msg.png") fixed bottom left no-repeat
  color: #5d5f5f
  text-align: left

#static-message-view
  .message
    background: rgba(#eafafd, 0.7)
    margin: 100px 0 0
    padding: 50px 50px 30px 150px
    width: 325px

  h1
    font: bold 48px "Helvetica Neue", Arial, Helvetica, sans-serif
    padding: 0 0 20px 0

  p
    font-size: 18px
    font: 200 18px "Helvetica Neue", Arial, Helvetica, sans-serif
    line-height: 26px
    padding: 0 0 20px 0

  a
    font-weight: bold

  &.loading
    h1
      background: image-url("loading-spinner.gif") 0 4px no-repeat
      margin-left: -60px
      padding: 0 0 20px 60px

.static-message
  #core
    background: rgba(255, 255, 255, 0.7)
    margin: -20px auto 0
    padding: 20px 50px
    width: 960px

    p
      margin-bottom: 1.5em

  #header
    position: relative
    margin-bottom: 35px

    #logo
      background: image-url("logo.png") no-repeat
      display: block
      height: 32px
      margin: 25px 0 0 1px
      text-indent: -10000px
      width: 303px

    #main-nav
      top: -16px

  #scenes .scene
    margin: 20px 0

    h2
      margin-left: -10px
      margin-bottom: 20px
      margin: 40px 0 20px -10px

      a
        background: #677590
        color: #eafafd
        font-size: 36px
        font-weight: normal
        padding: 5px 10px

    p.description
      font-size: 14px
      width: 480px

  .your-scenarios, .others-scenarios
    float: left
    width: 480px

  .scenarios
    @extend .clearfix

  .scenario-list
    li
      @extend .clearfix
      margin-bottom: 10px

    a:hover
      text-decoration: none

    .score, .time
      float: left

    .score
      background: #6f8f6e
      color: white
      font-size: 16px
      margin-right: 10px
      padding: 10px 0
      text-align: center
      width: 80px

    .time
      font-size: 14px
      padding-top: 10px
      width: 390px
