!!! 5
%html
  %head
    %title ETF

    = stylesheet_link_tag 'application'

    = javascript_include_tag 'dependencies'
    %script(src="/application.js" type="text/javascript")
    %script(type="text/javascript")
      require('application');

    = csrf_meta_tags

  %body
    #chrome
      = yield
